<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Quadras</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/courts_styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/favicon.jpg')}}">
</head>

<body>
    <div class="page-top-buttons">
        <input type='button' value="Voltar" onclick="history.go(-1)()">
        <button id="profileButton">Perfil</button>
        <button id="reviewDashboardButton">Ver reviews de usuários</button>
        <button id="logoutButton">Sair</button>
    </div>
    <h1>Bem vindo(a) {{username}}!</h1>
    <h2>Aqui estão nossas quadras disponíveis:</h2>
    <div id="courtContainer"></div>
    <script src="{{ url_for('static',filename='script/script.js') }}"></script>
</body>

</html>