body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111;
    /* Dark background color */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /* Gradiente que combina com a caixa de login preta */
    background: linear-gradient(to right, #2c3e50 0%, #4a586e 100%);
}

h1.welcome-message {
    color: #FFC107;
    /* Cor de destaque */
    font-size: 24px;
    /* Tamanho maior para mais destaque */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    /* Sombra para dar profundidade */
    margin-bottom: 30px;
    /* Espaçamento maior para separar do restante do conteúdo */
    animation: fadeIn 2s ease-in-out;
    /* Animação suave de entrada */
}

/* Animação fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#courtContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.court {
    width: 300px;
    background-color: #333;
    /* Dark gray background color */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eee;
    /* Light gray text color */
}

.court h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.court p {
    font-size: 18px;
    color: #ccc;
    /* Medium gray text color */
}

.page-top-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.page-top-buttons button,
.page-top-buttons input {
    background-color: #555;
    /* Dark gray button background color */
    color: #eee;
    /* Light gray button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.page-top-buttons button:hover,
.page-top-buttons input:hover {
    background-color: #777;
    /* Slightly lighter gray on hover */
}