body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(to right, #2c3e50 0%, #4a586e 100%);
}

h1 {
    color: #FFC107;
    font-size: 24px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

table {
    border-collapse: collapse;
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 12px;
    text-align: left;
    color: #ffffff;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #757575;
}

tr:hover {
    background-color: #616161;
}