body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 103, 212);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*height: 100vh;*/
    justify-content: center;
    /* Gradiente que combina com a caixa de login preta */
    background: linear-gradient(to right, #2c3e50 0%, #4a586e 100%);
}

h1.welcome-message {
    color: #FFC107;
    /* Cor de destaque */
    font-size: 24px;
    /* Tamanho maior para mais destaque */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    /* Sombra para dar profundidade */
    margin-bottom: 30px;
    /* Espaçamento maior para separar do restante do conteúdo */
    animation: fadeIn 2s ease-in-out;
    /* Animação suave de entrada */
}

/* Animação fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reservas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaço entre os itens de reserva */
    margin: 20px 0; /* Espaçamento vertical para separar do resto do conteúdo */
}

#userData {
    width: 450px; /* Largura fixa para cada reserva */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinha os itens à esquerda dentro do contêiner da reserva */
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #eee;
    margin-bottom: 20px; /* Espaçamento adicional no fundo, se necessário */
    padding: 15px; /* Adiciona padding para espaçamento interno */
}

#userData h3, #userData p {
    padding: 0 10px; /* Padding horizontal para não colar no borda */
}

#userData {
    width:450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #2ecc71;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #000000;
}

#userData h3 {
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 10px;

}

#userData p {
    font-size: 18px;
    color: #000;
    padding-left: 10px;
}

.page-top-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.page-top-buttons button,
.page-top-buttons input {
    background-color: #FFA500;
    color: rgb(59, 59, 59);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.page-top-buttons button:hover,
.page-top-buttons input:hover {
    background-color: #cf8700;
}
